.grid-container{
    font-family: "PT Sans", sans-serif;

}
.step{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-column: 1/-1;
    border-bottom: 2px gray solid;
    font-size: var(--description-title);
    font-weight: bold;
}
.explanation{
    grid-column: 1/-1;
    font-size: var(--plain-text);
}
.solution img{
    height: 90%;
}
.solution div{
    font-size: var(--description-title);
    font-weight: bold;
    text-align: center;
}


/* Desktop */
@media (min-width: 1601px){
    .explanation:nth-child(4){
        grid-row: 2 span;
    }
    .solution.half{
        grid-column: 6 span;
        grid-row: 4 span;
    }

    .solution{
        grid-column: 4 span;
        grid-row: 3 span;
    }

}

/* Laptop */
@media (min-width: 1201px) and (max-width: 1600px){
    .explanation:nth-child(4){
        grid-row: 2 span;
    }
    .explanation:nth-child(12){
        grid-row: 2 span;
    }

    .solution.half{
        grid-column: 6 span;
        grid-row: 4 span;
    }

    .solution{
        grid-column: 4 span;
        grid-row: 3 span;
    }

}

/* Tablet */
@media (min-width: 801px) and (max-width: 1200px){
    .explanation{
        font-size: 2.64vw;
        grid-row: 2 span;
    }
    .explanation:nth-child(4){
        grid-row: 4 span;
    }
    .explanation:nth-child(12){
        grid-row: 3 span;
    }

    .solution.half{
        grid-column: 3 span;
        grid-row: 3 span;
    }

    .solution{
        grid-column: 2 span;
        grid-row: 3 span;
    }
    .solution div {
        font-size: var(--plain-text);
    }
    .solution img {
        height: 83%;
    }

}

/* Phone */
@media (max-width: 800px){
    .explanation{
        grid-row: 2 span;
    }
    .explanation:nth-child(4){
        grid-row: 4 span;
    }
    .explanation:nth-child(12){
        grid-row: 3 span;
    }

    .solution.half, .solution{
        grid-column: 3 span;
        grid-row: 3 span;
    }
    .solution img {
        height: 78%;
    }
}