.description{
    grid-row: 3 span;
    grid-column: 3 span;
    padding: 10%;
}
.description a {
    font-size: var(--description-title);
}
.description p:last-child{
    font-size: var(--plain-text);
    font-family: Merriweather, sans-serif;
    line-height: 1.7;
}
.grid-container .text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: var(--img-title);
    font-weight: bold;
    border-bottom: gray 1px solid;
}
.questions{
    grid-row-start: 2 span;
    text-align: center;
}
.questions>:first-child{
    font-family: PT Sans, sans-serif;
    font-size: var(--question-title);
    font-weight: bold;
}
.questions>:last-child{
    font-family: Merriweather, sans-serif;
    font-size: var(--plain-text);
    font-style: italic;
}
.grid-container a{
    grid-column: 3 span;
    grid-row: 3 span;
}
.grid-container .text{
    grid-column-start: var(--columns) span;
}

body{
    --description-title: 36pt;
    --plain-text: 20pt;
    --question-title: 32pt;
}

/* Desktop */
@media (min-width: 1601px){
    body{
        --description-title: 1.7vw;
        --plain-text: 1.1vw;
        --question-title: 1.7vw;
    }
    .questions{
        grid-column: 4/10;
    }
}

/* Laptop */
@media (min-width: 1201px) and (max-width: 1600px){
    body{
        --description-title: 15pt;
        --plain-text: 12pt;
        --question-title: 20pt;
    }
    .questions{
        grid-column: 4/10;
    }

}

/* Tablet */
@media (min-width: 801px) and (max-width: 1200px){

    body{
        --description-title: 36pt;
        --plain-text: 20pt;
        --question-title: 32pt;
    }

    .questions{
        grid-column-start: 6 span;
    }

}


/* Phone */
@media (max-width: 800px) /*and (orientation: portrait)*/{
    body{
        --description-title: 6vw;
        --plain-text: 3.7vw;
        --question-title: 5.5vw;
    }
    .main-div{
        width: 100%;
    }
    .questions{
        grid-column-start: 3 span;
    }
    .description {
        grid-row: 2 span;
    }
}