.description {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.description a {
    font-size: var(--description-title);
}

.description p:last-child {
    font-size: var(--plain-text);
    font-family: Merriweather, sans-serif;
    line-height: 1.7;
}


/* Desktop */
@media (min-width: 1601px) {
    body {
        --img-title: 7.5vw;
        --description-title: 2.5vw;
        --plain-text: 1.5vw;
        --cube-word: 2.5vw;
    }

    .grid-container > a {
        grid-column: 6 span;
        grid-row: 6 span;

    }
    .description {
        justify-content: start;
        align-items: center;
        grid-column: 6 span;
        grid-row: 7/4 span;
    }
}

/* Laptop */
@media (min-width: 1201px) and (max-width: 1600px) {
    body {
        --img-title: 64pt;
        --description-title: 25pt;
        --plain-text: 15pt;
    }

    .grid-container > a {
        grid-column: 6 span;
        grid-row: 6 span;

    }
    .description {
        justify-content: start;
        align-items: center;
        grid-column: 6 span;
        grid-row: 7/4 span;
    }
}

/* Tablet */
@media (min-width: 801px) and (max-width: 1200px) {
    body {
        --footer-text: 17pt;
    }
    .grid-container > a {
        grid-column: 3 span;
        grid-row: 3 span;

    }
    .description:nth-child(3){
        grid-row-start: 2;
    }

    .description:nth-child(4) {grid-row-start: 5;}

    .description {
        grid-column: 4/3 span;
    }
}


/* Phone */
@media (max-width: 800px) {
    body{
        --img-title: 64pt;
        --footer-text: 14pt;
    }
    .description{
        text-align: center;
    }
    .description:nth-child(3){
        grid-row: 4/3 span;
    }
}